{{FrontSide}}

<hr id=answer>
<span class="pronunciation">{{Pronunciation}}</span>
{{#Vocalization}}
    <span>[sound:{{Vocalization}}]</span>
{{/Vocalization}}
<br>
<span class="translation">{{Translation}}</span>
<hr>
<span class="definition">{{Definition}}</span>
<hr>
<div class="example">{{Example}}</div>

<p align="center">
<div style=" margin:0 auto; background-color:#333; width:375px; border:1px dotted black; padding:3px;  position: fixed; align: center; bottom: 5px; text-align: center; color: #818; font-size:14px;">
    <a href="https://www.oxfordlearnersdictionaries.com/us/definition/american_english/{{text:Word}}">oxford</a>
    | <a href="https://www.merriam-webster.com/dictionary/{{text:Word}}">WM</a>
    | <a href="https://www.dictionary.com/browse/{{text:Word}}">dictionary</a>
    | <a href="https://www.diki.pl/slownik-angielskiego?q={{text:Word}}">diki</a>
    | <a href="http://pl.bab.la/slownik/angielski-polski/{{text:Word}}">bab.la</a>
</div>

</p>
